body {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.header {
  background-color: white;
  height: 64px;
  border-bottom: 1px solid #d5d2cd;
  box-shadow: 0px 2px 3px #f0f0f0;
  margin-bottom: 10px;
}

.header-container {
  display: flex;
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 1340px;
  min-width: 1040px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.header-logo {
  display: block;

  padding-right: 20px;
}

.header-menu-item {
  color: #635f5a;
  font-weight: 700;
}

.header-search-box {
  display: block;
  flex-basis: 200px;
  flex-grow: 1;
  text-indent: 10px;
  border-width: 1px;
  border-color: #c0c0c0;
  border-style: solid;
  border-radius: 4px;
  height: 32px;
  background-color: #f0f0f0;
}

.header-search-box::placeholder {
  color: #c0bfbd;
}

.header-button {
  display: block;
  height: 32px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  border-radius: 4px;
  color: #635f5a;
  font-size: 14px;
  padding: 0px 12px;
}

.breadcrumb {
  background-color: white;
  height: 32px;
  border-bottom: 1px solid #d5d2cd;
  margin-bottom: 10px;
}

.breadcrumb-container {
  display: flex;
  column-gap: 10px;
  width: 1020px;
  margin: 0 auto;
}

.breadcrumb-ancestor > a {
  color: #93918f;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb-current > a {
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.breadcrumb-gt {
  color: #93918f;
  font-size: 14px;
  line-height: 24px;
}

.main {
  display: grid;
  justify-content: center;
  grid-template-columns: 680px 300px;
  column-gap: 40px;
  background-color: white;
}

.contents {
  grid-column: 1 / 2;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recipe-title {
  font-size: 22px;
  font-weight: 700;
}

.recipe-title-caption {
  font-size: 12px;
  margin-bottom: 20px;
  color: #635f5a;
}

.recipe-description {
  margin-bottom: 20px;
}

.recipe-save-button {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: f0efef;
  border: none;
  border-radius: 25px;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: solid 1px #f4f2f0;
}

.recipe-step-title {
  font-size: 20px;
  font-weight: 700;
}

.recipe-step-container {
  list-style-type: none;
  padding-inline-start: 0px;
}

.recipe-step {
  display: flex;
  column-gap: 10px;
  padding: 10px 0px;
  border-bottom: solid 1px #f4f2f0;
  font-size: 17px;
  line-height: 25px;
}

.sidebar {
  grid-column: 2 / 3;
}

.ranking-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}

.ranking-image {
  grid-column: 1/2;
}

.ranking-info {
  grid-column: 2/3;
}

.ranking-position {
  font-size: 14px;
  font-weight: 700;
}

.ranking-description {
  font-size: 12px;
  height: 40px;
}

.views {
  padding-right: 10px;
  font-size: 10px;
}

.view-num {
  padding-right: 20px;
  font-size: 14px;
}

.saves {
  padding-right: 10px;
  font-size: 10px;
}

.save-num {
  font-size: 14px;
}

.recipe-tips-title {
  font-size: 22px;
  font-weight: 700;
}

.recipe-tips-description {
  margin-bottom: 20px;
}

.main-video-ads {
  display: flex;
  justify-content: space-between;
}

.taberepo {
  margin-top: 40px;
}

.teberepo-head {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.taberepo-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
}

.taberepo-head-right {
  display: flex;
}

.taberepo-stars {
  display: flex;
}

.taberepo-star-wrap {
  margin-left: 2px;
  width: 20px;
}

.taberepo-star-img {
  display: block;
}

.taberepo-score {
  margin-left: 4px;
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
}

.taberepo-num-reviews {
  margin-top: 8px;
  text-align: right;
  font-size: 12px;
}

.taberepo-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.taberepo-cell {
  margin-top: 24px;
  width: 208px;
}

.taberepo-cell-user {
  border-radius: 24px;
}

.taberepo-cell-description {
  font-size: 14px;
}

.taberepo-button-wrapper {
  width: 300px;
  margin: 20px auto 20px auto;
}

.taberepo-review-button {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f3765e;
  color: white;
  border: none;
  border-radius: 25px;
}

.taberepo-seemore-button {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f0efef;
  border: none;
  border-radius: 25px;
}

.recipe-faq-title {
  font-size: 22px;
  font-weight: 700;
}

.recipe-faq-description {
  margin-bottom: 20px;
}

.recipe-faq-listing {
  padding: 0px;
  list-style-type: none;
}

.recipe-faq-listing-item {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  border-bottom: 1px solid #d8d8d8;
}

.recipe-faq-toggle {
  fill: black;
  color: black;
}

.recipe-faq-listing-item-question {
  font-size: 14px;
}

.recipe-faq-listing-item-answer {
  font-size: 14px;
  margin-top: 16px;
  padding-left: 20px;
  border-left: 3px solid #d8d8d8;
}

.recipe-question-title {
  font-size: 22px;
  font-weight: 700;
}

.recipe-question-listing-item-question {
  display: flex;
  margin-bottom: 20px;
}

.recipe-question-listing-item-question {
  display: flex;
}

.recipe-question-listing-item-question-userimage {
  display: block;
  border-radius: 24px;
  margin-right: 10px;
}

.recipe-question-listing-item-question-username {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.recipe-question-listing-item-question-userquestion {
  font-size: 14px;
}

.recipe-question-listing-item-answer {
  display: flex;
  padding-left: 80px;
  margin-bottom: 40px;
}

.recipe-question-listing-item-answer-userimage {
  display: block;
  border-radius: 24px;
}

.recipe-question-listing-item-answer-username {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

.recipe-question-listing-item-answer-userqanswer {
  font-size: 14px;
}

.related-recipe-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
}

.related-recipe-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.related-recipe-cell {
  margin-top: 24px;
  width: 216px;
}

.related-recipe-cell-image {
  border-radius: 8px;
}

.related-recipe-cell-title {
  font-size: 17px;
  font-weight: 700;
}

.related-recipe-cell-description {
  font-size: 13px;
}

.related-recipe-cell-ingredients {
  font-size: 12px;
  color: #b2b2b2;
}

.popular-categories {
  margin-top: 40px;
}

.popular-categories-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.popular-categories-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 30px;
}

.popular-categories-cell {
  width: 208px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 8%),
    0 -2.66667px 12px 0 rgb(36 36 36 / 4%);
}

.popular-categories-cell-title {
  padding: 8px 8px 0px 8px;
  font-size: 14px;
}

.popular-categories-cell-description {
  padding: 8px;
  font-size: 12px;
  color: #635f5a;
}

.footer {
  margin-top: 40px;
  background-color: #ededed;
}

.footer-first-image {
  display: block;
  margin: 0 auto;
}

.footer-second-menu {
  background-color: white;
}

.footer-second-grid {
  max-width: 1020px;
  margin: 30px auto;
  display: flex;
}

.footer-second-logo {
  margin-right: 100px;
}

.footer-second-column {
  font-size: 13px;
  margin-right: 48px;
}

.footer-second-column-title {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-second-column-item {
  font-size: 13px;
  color: #635f5a;
  margin-bottom: 13px;
}

.footer-container {
  margin: 0 auto;
  padding: 10px 0px;
  max-width: 1020px;
}

.question-button-wrapper {
  width: 300px;
  margin: 20px auto 20px auto;
}

.question-seemore-button {
  width: 300px;
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  background-color: #f0efef;
  border: none;
  border-radius: 25px;
}
